@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-warm text-ink;
  }
  ::selection {
    background-color: #F4DED6; /* rosebeige */
    color: #1F2937; /* ink */
  }
}

@layer components {
  .card {
    @apply bg-white rounded-xl border border-beige shadow-soft;
  }
}
